<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string>1000</string>
	<key>desc</key>
	<string>Normal Returned</string>
	<key>data</key>
	<array>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>浦发银行(暂不支持)</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/SPDB.png</string>
			<key>numb</key>
			<string>310290000013</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>工商银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/ICBC.png</string>
			<key>numb</key>
			<string>102100099996</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>农业银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/ABC.png</string>
			<key>numb</key>
			<string>103100000026</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>中国银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/BOC.png</string>
			<key>numb</key>
			<string>104100000004</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>建设银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/CCB.png</string>
			<key>numb</key>
			<string>105100000017</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>交通银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/BCM.png</string>
			<key>numb</key>
			<string>301290000007</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>中信银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/CITIC.png</string>
			<key>numb</key>
			<string>302100011000</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>招商银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/CMB.png</string>
			<key>numb</key>
			<string>308584000013</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>光大银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/CEB.png</string>
			<key>numb</key>
			<string>303100000006</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>华夏银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/HXBANK.png</string>
			<key>numb</key>
			<string>304100040000</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>民生银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/CMBC.png</string>
			<key>numb</key>
			<string>305100000013</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>广发银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/BCM.png</string>
			<key>numb</key>
			<string>306581000003</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>兴业银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/CIB.png</string>
			<key>numb</key>
			<string>309391000011</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>平安银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/PAB.png</string>
			<key>numb</key>
			<string>307584007998</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>恒丰银行(暂不支持)</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/HF.png</string>
			<key>numb</key>
			<string>315456000105</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>浙商银行(暂不支持)</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/ZHESHANG.png</string>
			<key>numb</key>
			<string>316331000018</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>渤海银行(暂不支持)</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/BH.png</string>
			<key>numb</key>
			<string>318110000014</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>邮储银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/PSBC.png</string>
			<key>numb</key>
			<string>403100000004</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>北京银行</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/BOB.png</string>
			<key>numb</key>
			<string>313100000013</string>
		</dict>
		<dict>
			<key>summ</key>
			<string>单笔5万，日累计20万</string>
			<key>name</key>
			<string>上海银行(暂不支持)</string>
			<key>logo</key>
			<string>http://oo6o93zxg.bkt.clouddn.com//BankInfo/BCM.png</string>
			<key>numb</key>
			<string>325290000012</string>
		</dict>
	</array>
</dict>
</plist>
